* {
    margin: 0;
    padding: 0;
}

.fixed {
    position: fixed;
    z-index: 10000;
    top: 0px;
}

.head-top {
    background-image: url(../images/banner-8-3.jpg);
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: 850px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.container1 {
    background: rgb(253, 255, 130);
    background: linear-gradient(180deg, rgba(253, 255, 130, 1) 0%, rgba(0, 212, 255, 0) 67%);
}

.head-top-left {
    float: left;
    min-width: 10%;
    height: 10%;
    padding: 2em;
}

.head-top-left img {
    width: 120px;
    margin-bottom: 0 20px;
}

#head-top-right {
    border-bottom: 1px solid white;
    margin-left: 20%;
    border-radius: 5px;
    /* bo góc */
}

#head-top-right ul {
    display: flex;
    border-radius: 5px;
}

#head-top-right>ul .item-head-top-right {
    list-style: none;
    /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
}

#head-top-right>ul .item-head-top-right a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: block;
    padding: 0 15px;
    line-height: 50px;
    color: #9e3535;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
}


/*khi hover thì hiện menu con*/

#head-top-right li:hover>ul {
    display: block;
}


/*button right*/

#head-top-right>ul .button-right {
    list-style: none;
    /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
}

#head-top-right>ul .button-right a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 1px solid rgb(255, 255, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 150px;
    padding: 10px 25px;
    margin-left: 10px;
    line-height: 50px;
    color: #9e3535;
    text-decoration: none;
}


/*button login*/

#head-top-right>ul .button-login {
    list-style: none;
    /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
}

#head-top-right>ul .button-login a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 150px;
    padding: 10px 25px;
    margin-left: 10px;
    line-height: 50px;
    color: #9e3535;
    text-decoration: none;
}


/*Form*/

.introduce {
    display: flex;
    width: 100%;
}

.khoa-hoc {
    padding: 10px;
    background-color: rgb(255, 153, 0);
    width: 32%;
    margin-left: 10%;
    border-top-left-radius: 10px;
}

input[type=text] {
    width: 90%;
    padding: 12px 20px;
    margin-left: 12%;
    box-sizing: border-box;
}

.time-line {
    width: 50%;
}

.rotate {
    margin-top: -50px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 50px solid rgb(194, 9, 9);
    border-bottom: 50px solid transparent;
}

.time-line {
    margin-top: 50px;
    background: rgb(19, 13, 13);
    border-top-right-radius: 10px;
}

.dem {
    background: rgb(19, 13, 13);
}


/*dem*/

.container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#countdown ul li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#countdown ul li span {
    display: block;
    font-size: 4.5rem;
}

.message {
    font-size: 4rem;
}

#content {
    display: none;
    padding: 1rem;
}

.emoji {
    padding: 0 .25rem;
}

@media all and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    li {
        font-size: 1.125rem;
        padding: .75rem;
    }
    li span {
        font-size: 3.375rem;
    }
}


/*keo len*/

.introduce {
    margin-top: -15.5%;
}


/*MAIN*/

.main {
    width: 100%;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    line-height: 30px;
    color: #9e3535;
}

.main-info {
    display: flex;
}

.info-left {
    padding-left: 3%;
    margin-left: 6%;
    width: 40%;
}

.info-right {
    float: left;
}

.info-right img {
    padding-left: 30%;
    width: 70%;
    float: left;
}


/*main-bottom*/

.main-bottom {
    margin-top: 10px;
    width: 100%;
    height: 200px;background: rgb(251,255,0);
    background: linear-gradient(50deg, rgba(251,255,0,1) 0%, rgba(0,0,0,1) 82%);
}

.main-bottom h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 250%;
    padding: 5%;
}


/* bài viết*/

.posts {
    width: 100%;
}

.content {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    display: inline-flex;
    line-height: 30px;
    color: #9e3535;
}

.item-content {
    width: 27%;
    margin-left: 4.5%;
}

.item-content a {
    text-decoration: none;
    font-weight: bold;
}

.item-content img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.item-content h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    height: 19%;
    font-size: 20px;
}
/* button*/
.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    background-color: #222;
    padding: 9px 30px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
   
  .btn span {
    position: relative; 
    z-index: 1;
  }
   
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #fffb00;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
   
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }

/*footer*/

footer {
    display: flex;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    line-height: 30px;
    min-height: 250px;
    background-color: black;
    color: blanchedalmond;
}

.ft-lien-he {
    margin: 40px;
}

.ft-gioi-thieu {
    margin: 40px;
}

.ft-tai-khoan {
    margin: 40px;
}