
*{
    margin: 0;
    padding: 0;
}
.head-top{
    display: block;
    width: 100%;
    min-height: 400px;
    background-image: url(../public/images/backgrond/uu-dai-mung-8-thang-3.jpg);
}
.head-top-left{
    float: left;
    width: 40px;
    height: 40px;
    background-color: chartreuse;
    margin:11px;
    padding: 10px;
}
#head-top-right{
    padding: 30px;
    /* canh giữa cách lề mỗi bên 10% */
    margin: 5px 10%;
}
#head-top-right{
    margin-left: 20%;
    border-radius: 5px; /* bo góc */
}
#head-top-right ul{
    display: flex;
    border-radius: 5px;
}
#head-top-right> ul .item-head-top-right{
    list-style: none; /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
    
}
#head-top-right> ul .item-head-top-right a{
    min-width: 155px;
    display: block;
    padding: 0 25px;
    line-height: 50px;
    color: #9e3535;
    text-decoration: none;
    
}
#head-top-right ul .item-head-top-right:first-child {
    border-left: none; /* bỏ đường kè trái của phần tử đầu tiên */
    border-radius: 5px;
}
#head-top-right> ul .item-head-top-right:first-child a{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
/* Khi hover đến li, tô màu cho thẻ a */
#head-top-right ul .item-head-top-right:hover>a{
    opacity: .7;
    border-radius: 5px;
    color: rgb(255, 3, 16);
}
/*menu con*/
/*Ẩn các menu con cấp 1,2,3*/
#head-top-right .item-head-top-right ul{
    display: none;
    min-width: 200px;
    position: absolute;
    border-radius: 5px;
}
#head-top-right .item-head-top-right>ul .sub-item-head-top-right{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    background: rgb(255, 255, 255);
    text-align: left;
    border-radius: 5px;
}
/*khi hover thì hiện menu con*/
#head-top-right  li:hover > ul{
    display:  block;
}
/*button right*/
#head-top-right> ul .button-right{
    list-style: none; /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
}
#head-top-right> ul .button-right a{
    background-color: rgb(255, 255, 255);
    border-radius: 150px;
    display: block;
    padding: 0 25px;
    margin-left: 10px;
    line-height: 50px;
    color: #9e3535;
    text-decoration: none;
}
/*button right*/
#head-top-right> ul .button-login{
    list-style: none; /* bỏ dấu chấm mặc định của li */
    /* kẻ đường bên trái và bên phải của li */
}
#head-top-right> ul .button-login a{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 150px;
    display: block;
    padding: 0 25px;
    margin-left: 10px;
    line-height: 50px;
    color: #9e3535;
    text-decoration: none;
}
